@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model PeD.Views.Email.Captacao.ConviteFornecedor

@{
    Layout = "_EmailBase";
}
@{
    var url = Configuration.GetValue<string>("Url");
}

@section Header
{
    Você foi convidado para participar de um novo
    projeto para a área de P&D da Taesa
}

@section Action
{
    <a href="@url/fornecedor/propostas/@Model.CaptacaoId">
        Ver Demanda
    </a>
}

<p>
    A Equipe de Suprimentos Taesa convida a @Model.Fornecedor
    para participar do processo de cotação e proposta do
    projeto "@Model.Projeto". Clique abaixo para mais
    detalhes.
</p>