@model PeD.Core.Models.Demandas.Forms.FieldRendered
<div class="field-item @Model.Type.ToLower()">
    <div class="field-item-title">@Model.Title</div>
    <div class="field-item-value">@Html.Raw(Model.Value)</div>
    <div class="field-item-children">
        @foreach (var item in Model.Children)
        {
            @Html.Partial("_FieldItem.cshtml", item)
        }
    </div>
</div>