@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model PeD.Views.Email.FornecedorAccount;
@{
    Layout = "_EmailBase";
}
@{
    var appName = Configuration.GetValue<string>("AppName");
    var url = Configuration.GetValue<string>("Url");
}

@section Header
{

    Você foi convidado para participar do @appName da Taesa como Fornecedor Cadastrado
    <br>
    
}

@section Action
{
    <a href="@url/login/nova-senha/?email=@Model.Email&token=@Model.Token">
        <img src="@url/Assets/gerar-senha.png" alt="Gerar Senha">
    </a>
}

<p>
    A Taesa convidou a @Model.Fornecedor para se cadastrar no
    sistema @appName com o objetivo de participar do
    processo de cotação e envio de propostas de seus
    projetos.
</p>
<p>
    <span style="color: #042769">Usuário: @Model.Email</span>
</p>
<p>
    Para acessar o sistema clique no botão abaixo para criar uma senha e acessar
    o sistema:
</p>