@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model PeD.Views.Email.RecoverAccount;
@{
    Layout = "_EmailBase";
}
@{
    var appName = Configuration.GetValue<string>("AppName");
    var url = Configuration.GetValue<string>("Url");
}

@section Header
{
    Instruções para redefinição de senha
    <br>
    do @appName
}

@section Action
{
    <a href="@url/login/nova-senha/?email=@Model.Email&token=@Model.Token">
        <img src="@url/Assets/gerar-senha.png" alt="Gerar Senha">
    </a>
}


<p>
    Alguém solicitou que a senha fosse redefinida para a seguinte conta:
</p>
<p>
    <span style="color: #042769">
        Usuário:
        @Model.Email
    </span>
</p>
<p>
    Se isso foi um engano, apenas ignore este e-mail e nada acontecerá.
</p>

<p>
    Para redefinir sua senha, clique no botão abaixo:
</p>