@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model PeD.Views.Email.RecoverAccount;
@{
    Layout = "_EmailBase";
}
@{
    var appName = Configuration.GetValue<string>("AppName");
    var url = Configuration.GetValue<string>("Url");
}

@section Header
{

    Seja bem-vindo ao
    <br>
    @appName
}

@section Action
{
    @{
        var urlr = string.Format("{0}/login/nova-senha/?email={1}&token={2}", url, Model.Email, Uri.EscapeUriString(Model.Token));
    }
    <a href="@urlr">
        <img src="@url/Assets/gerar-senha.png" alt="Gerar Senha">
    </a>
}

<p>
    Seu usuário no @appName foi criado com sucesso. Abaixo dados do
    seu login.
</p>
<p>
    <span style="color: #042769">Usuário: @Model.Email</span>
</p>
<p>
    Para acessar o sistema clique no botão abaixo para criar uma senha e acessar
    o sistema:
</p>