@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model PeD.Views.Email.Captacao.Propostas.NovoPlanoTrabalho

@{
    Layout = "_EmailBase";
}
@{
    var url = Configuration.GetValue<string>("Url");
}

@section Header
{
    O fornecedor @Model.Fornecedor enviou uma nova versão do
    Plano de Trabalho para aprovação referente ao
    projeto "@Model.Captacao.Titulo"
}

<p>
    Por favor clique no link abaixo para mais detalhes:
</p>

@section Action
{
    <a href="@url/gestor/refinamento/proposta/@Model.PropostaGuid/envio" style="display: inline-block; background: #042769; font-weight: bold; color:#FFF; border-radius: 4px; padding: 8px 16px; text-decoration: none; text-transform: uppercase;">
        Ver Proposta
    </a>
}